In [2]:
from sklearn.preprocessing import LabelEncoder
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings(action='ignore')

### 라벨 인코딩할 칼럼이 1개인 경우

In [4]:
season=['봄','여름','가을','겨울']
#DataFrame=index+Series
#Series=index+values(ndarray)
#df에서 하나의 열은 Series

In [7]:
data=pd.Series(season)
data #벡터...

0     봄
1    여름
2    가을
3    겨울
dtype: object

In [8]:
encoder=LabelEncoder()

In [9]:
encoder.fit(data) #인코딩할 데이터를 정리해주는 개념!
#어떤것을 어떤번호로 인코딩할지 정리해주는 개념

LabelEncoder()

In [10]:
encoder.classes_

array(['가을', '겨울', '봄', '여름'], dtype=object)

In [12]:
columns_num=['봄','여름','가을','겨울','여름','가을','겨울','가을','겨울','여름','여름','여름']
target=pd.Series(columns_num)

In [15]:
target1=encoder.transform(target)

In [16]:
target1

array([2, 3, 0, 1, 3, 0, 1, 0, 1, 3, 3, 3])

In [17]:
type(target1)

numpy.ndarray

In [19]:
#inverse:거꾸로 되돌리다....
array=[1,3,4,5,7,8,9]
list.reverse(array)
array

[9, 8, 7, 5, 4, 3, 1]

In [20]:
encoder.inverse_transform(target1)

array(['봄', '여름', '가을', '겨울', '여름', '가을', '겨울', '가을', '겨울', '여름', '여름',
       '여름'], dtype=object)

## 라벨인코딩할 컬럼이 여러개인 경우(2~3)

In [22]:
words=['apple', 'banana','grape','summmer', 'spring']
hobby=['book','run','talk','coffee', 'song']

In [30]:
df=pd.DataFrame({
    'word':words,
    'hobby':hobby
})
df

      word   hobby
0    apple    book
1   banana     run
2    grape    talk
3  summmer  coffee
4   spring    song

In [31]:
encoder2=LabelEncoder()

In [32]:
col=df.columns
col

Index(['word', 'hobby'], dtype='object')

In [34]:
for c in col:
    df[c]=encoder2.fit_transform(df[c])

In [35]:
df

   word  hobby
0     0      0
1     1      2
2     2      4
3     4      1
4     3      3

In [36]:
#나이(100,200,300): 연속적인값... 
#나이대(어린이, 성년, 노년):연속적인 숫자 값이 아닌경우 ... 라벨인코딩의 대상이된다. category

In [37]:
#원핫 인코딩
# #라벨 인코딩: 연속형이 아닌 데이터를 원하는 형태의 숫자로 바꿔주는것
# 1) 연속형이아닌 데이터를 숫자로 변환:LabelEcodertt사용
#     fit() -- transform(), fit_transform()
# 2) 숫자로만 변환하는 경우, 컴퓨터는 연속형숫자로 오해하여 연산을 수행해 
# 의도치않은 결과가 나올수있음. 해당됨을 나타내기위해 라벨의 갯수만큼칼럼을 만들어주고 
# 해당되는 라벨에 표시(1)해주는 방법을 사용하는 것이 원핫인코딩

SyntaxError: invalid syntax (<ipython-input-37-a3a2039f3ded>, line 3)