In [2]:
import numpy as np
import pandas as pd

In [3]:
dates = pd.date_range('20190301', periods=6)
dates

DatetimeIndex(['2019-03-01', '2019-03-02', '2019-03-03', '2019-03-04',
               '2019-03-05', '2019-03-06'],
              dtype='datetime64[ns]', freq='D')

In [4]:
df=pd.DataFrame(data=np.random.randn(6,4),index=dates, columns=['A','B','C','D'])#위에서 생성한 dates (날짜)를 인덱스로 정렬. 
# df=pd.DataFrame(nparray(values), columns=['컬럼명','컬럼명'])
df

                   A         B         C         D
2019-03-01  0.017043 -0.732674 -1.581285  0.344025
2019-03-02  0.452893  0.422073  0.053663 -0.258884
2019-03-03 -1.556168  2.009657  0.378336 -1.334591
2019-03-04 -0.715011  0.465013  0.463776 -0.371630
2019-03-05 -0.524180 -0.170207 -0.780638 -0.822016
2019-03-06 -0.913884 -0.867269  1.222435  0.663658

In [5]:
df2=df.copy()
df2

#df는 기본적으로 행, 열의 위치값을 가지고있음
#"기본적으로 가지고있는 위치값을 (index)"(=숫자)를 
#이용해서 조작하는 경우> iloc를 사용

#일부 그래프를 분석시 특정항목을 index항목으로 수동설정해야하는 경우가 있다. 
#특정 항목이 index가 될 수 있는 조건:unique/not null)한 값을 가지고있을것
#기본키의 조건과 비슷하다아

                   A         B         C         D
2019-03-01  0.017043 -0.732674 -1.581285  0.344025
2019-03-02  0.452893  0.422073  0.053663 -0.258884
2019-03-03 -1.556168  2.009657  0.378336 -1.334591
2019-03-04 -0.715011  0.465013  0.463776 -0.371630
2019-03-05 -0.524180 -0.170207 -0.780638 -0.822016
2019-03-06 -0.913884 -0.867269  1.222435  0.663658

In [13]:
df2.reset_index() #비파괴함수~
df2.reset_index(inplace=True) #파괴한다.

In [17]:

df2.set_index('index',inplace=True) #파괴한다.

KeyError: "None of ['index'] are in the columns"

In [18]:
df2

            level_0         A         B         C         D
index
2019-03-01        0  0.017043 -0.732674 -1.581285  0.344025
2019-03-02        1  0.452893  0.422073  0.053663 -0.258884
2019-03-03        2 -1.556168  2.009657  0.378336 -1.334591
2019-03-04        3 -0.715011  0.465013  0.463776 -0.371630
2019-03-05        4 -0.524180 -0.170207 -0.780638 -0.822016
2019-03-06        5 -0.913884 -0.867269  1.222435  0.663658

In [19]:
df2['E']=df2['A']+1

In [20]:
df2.columns

Index(['level_0', 'A', 'B', 'C', 'D', 'E'], dtype='object')

In [25]:
df2['F']=0
df2

            level_0         A         B         C         D         E  F
index
2019-03-01        0  0.017043 -0.732674 -1.581285  0.344025  1.017043  0
2019-03-02        1  0.452893  0.422073  0.053663 -0.258884  1.452893  0
2019-03-03        2 -1.556168  2.009657  0.378336 -1.334591 -0.556168  0
2019-03-04        3 -0.715011  0.465013  0.463776 -0.371630  0.284989  0
2019-03-05        4 -0.524180 -0.170207 -0.780638 -0.822016  0.475820  0
2019-03-06        5 -0.913884 -0.867269  1.222435  0.663658  0.086116  0

In [37]:

df2['H'] = range(0,6)
df2

       index  level_0         A         B         C         D         E  F  H
H
0 2019-03-01        0  0.017043 -0.732674 -1.581285  0.344025  1.017043  0  0
1 2019-03-02        1  0.452893  0.422073  0.053663 -0.258884  1.452893  0  1
2 2019-03-03        2 -1.556168  2.009657  0.378336 -1.334591 -0.556168  0  2
3 2019-03-04        3 -0.715011  0.465013  0.463776 -0.371630  0.284989  0  3
4 2019-03-05        4 -0.524180 -0.170207 -0.780638 -0.822016  0.475820  0  4
5 2019-03-06        5 -0.913884 -0.867269  1.222435  0.663658  0.086116  0  5

In [38]:

df2.set_index('H', inplace=True)
df2

       index  level_0         A         B         C         D         E  F
H
0 2019-03-01        0  0.017043 -0.732674 -1.581285  0.344025  1.017043  0
1 2019-03-02        1  0.452893  0.422073  0.053663 -0.258884  1.452893  0
2 2019-03-03        2 -1.556168  2.009657  0.378336 -1.334591 -0.556168  0
3 2019-03-04        3 -0.715011  0.465013  0.463776 -0.371630  0.284989  0
4 2019-03-05        4 -0.524180 -0.170207 -0.780638 -0.822016  0.475820  0
5 2019-03-06        5 -0.913884 -0.867269  1.222435  0.663658  0.086116  0

In [63]:
df3=df.copy()
df3

                   A         B         C         D
2019-03-01  0.017043 -0.732674 -1.581285  0.344025
2019-03-02  0.452893  0.422073  0.053663 -0.258884
2019-03-03 -1.556168  2.009657  0.378336 -1.334591
2019-03-04 -0.715011  0.465013  0.463776 -0.371630
2019-03-05 -0.524180 -0.170207 -0.780638 -0.822016
2019-03-06 -0.913884 -0.867269  1.222435  0.663658

In [169]:
import random
df3

                   A         B         C         D  E  Z         F  H
2019-03-01  0.017043 -0.732674 -1.581285  0.344025  1  4 -1.564242  1
2019-03-02  0.452893  0.422073  0.053663 -0.258884  2  9  0.506556  1
2019-03-03 -1.556168  2.009657  0.378336 -1.334591  6  2 -1.177832  1
2019-03-04 -0.715011  0.465013  0.463776 -0.371630  7  6 -0.251235  1
2019-03-05 -0.524180 -0.170207 -0.780638 -0.822016  8  3 -1.304818  1
2019-03-06 -0.913884 -0.867269  1.222435  0.663658  9  5  0.308551  1

In [100]:
#E를 파생변수로 만드세요 1~10
y=set()

while True:
    if len(y)==6:
        break;
    y.add(random.randint(1,9))

print(y)
df3['E']= y

{1, 2, 6, 7, 8, 9}

In [101]:
df3['F']=df3['A']+df3['C']
df3['H']=1

df3

                   A         B         C         D  E  Z         F  H
2019-03-01  0.017043 -0.732674 -1.581285  0.344025  1  8 -1.564242  1
2019-03-02  0.452893  0.422073  0.053663 -0.258884  2  3  0.506556  1
2019-03-03 -1.556168  2.009657  0.378336 -1.334591  6  1 -1.177832  1
2019-03-04 -0.715011  0.465013  0.463776 -0.371630  7  2 -0.251235  1
2019-03-05 -0.524180 -0.170207 -0.780638 -0.822016  8  6 -1.304818  1
2019-03-06 -0.913884 -0.867269  1.222435  0.663658  9  2  0.308551  1

In [110]:

# y=[]
# for i in range(0,df3.shape[0],1):
#     y.append(random.randint(1,9))
df3['Z']=[random.randint(1,9) for _ in range(df3.shape[0])]
# df3['Z']=y

In [111]:
df3

                   A         B         C         D  E  Z         F  H
2019-03-01  0.017043 -0.732674 -1.581285  0.344025  1  4 -1.564242  1
2019-03-02  0.452893  0.422073  0.053663 -0.258884  2  9  0.506556  1
2019-03-03 -1.556168  2.009657  0.378336 -1.334591  6  2 -1.177832  1
2019-03-04 -0.715011  0.465013  0.463776 -0.371630  7  6 -0.251235  1
2019-03-05 -0.524180 -0.170207 -0.780638 -0.822016  8  3 -1.304818  1
2019-03-06 -0.913884 -0.867269  1.222435  0.663658  9  5  0.308551  1

In [113]:
#['반복하면서 한번에 처리할내용' for i in range(10)]
[i+1 for i in range(10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [117]:
#['반복하면서 한번에 처리할내용' for i in range(10) if i/2==0] 
[i+1 for i in range(10) if i%2==0]

# data3=[]
# for i in range(10):
#     if i%2==0:
#         data3.append(i)
# data3

[1, 3, 5, 7, 9]

In [118]:
name =['홍길동','김길동','송길동']
for x in name:
    print(x)

홍길동
김길동
송길동

In [120]:
#name에 들어있는 각각의 모든데이터 뒤에 "님" 붙여주세요
[x+"님" for x in name]

['홍길동님', '김길동님', '송길동님']

In [122]:
#name에 들어있는 각각의 모든데이터 앞에 "신입"글자를 붙여주세요
["신입 "+x for x in name]

['신입 홍길동', '신입 김길동', '신입 송길동']

In [159]:
a_list = range(1, 100, 2)
a_list=list(a_list)

In [163]:
# #a_list에 몇개가 들어있는지 세어보세요
count=0
result=[count+1 for x in a_list]
sum(result)
print(sum(result))

50

In [168]:
#a_list에 0.1을 곱해보세요
a=[x*0.1 for x in a_list][:3]
print(np.sum(a))
np.mean(a)


#std는 표준편차 median(가운데값)

0.9

0.3

In [170]:
a

[0.1, 0.30000000000000004, 0.5]

In [191]:
df3.drop(columns=['H','Z','E','F'], inplace=True)

KeyError: "['H' 'Z' 'E' 'F'] not found in axis"

In [189]:
df3

                   A         B         C         D
2019-03-01  0.017043 -0.732674 -1.581285  0.344025
2019-03-02  0.452893  0.422073  0.053663 -0.258884
2019-03-03 -1.556168  2.009657  0.378336 -1.334591
2019-03-04 -0.715011  0.465013  0.463776 -0.371630
2019-03-05 -0.524180 -0.170207 -0.780638 -0.822016
2019-03-06 -0.913884 -0.867269  1.222435  0.663658

In [190]:
df3.drop("2019-03-01", axis=0, inplace=True)

KeyError: "['2019-03-01'] not found in axis"

In [ ]:
df3.loc['2019-03-22']=[1,1,1,1]