In [9]:
%matplotlib inline
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import rc
import matplotlib.font_manager as fm
import warnings
from sklearn.model_selection import train_test_split
warnings.filterwarnings(action='ignore')
fm._rebuild()
fm.get_fontconfig_fonts()

# 디렉토리 및 파일 이름에 맞추어 변경
font_location = '../NanumSquareRoundEB.ttf'
font_name = fm.FontProperties(fname=font_location).get_name()
rc('font', family=font_name)

In [ ]:
iris=sns.load_dataset('iris')
iris.columns
iris['species'].unique()

In [ ]:
def speices_convert(x):
    if x=="virginica":
        return 0
    elif x=="setosa":
        return 1
    else:
        return 2

In [ ]:
iris['species']=iris['species'].apply(speices_convert)

In [11]:
#X_train, X_test, y_train, y_test
train_exam, test_exam, train_target, test_target = train_test_split(iris.iloc[:,:4], 
                                                                    iris['species'],
                                                                    test_size=0.2, #검증비율 20% 훈련비율 80%
                                                                    random_state=100 #seed 값
                                                                   )
#훈련문제, 검증문제, 훈련답, 검증답

In [12]:
train_exam.reset_index(inplace=True)
test_exam.reset_index(inplace=True)
train_target=train_target.reset_index()
test_target=test_target.reset_index()

In [13]:
test_exam.drop(columns='index')
train_exam.drop(columns='index')
train_target.drop(columns='index')
test_target.drop(columns='index')

    species
0         0
1         1
2         0
3         1
4         0
5         0
6         1
7         1
8         0
9         1
10        1
11        0
12        1
13        1
14        0
15        2
16        2
17        2
18        0
19        0
20        0
21        1
22        0
23        1
24        2
25        0
26        2
27        1
28        2
29        0

In [23]:
from sklearn.multioutput import MultiOutputClassifier
from sklearn.neighbors import KNeighborsClassifier

In [24]:

knn = KNeighborsClassifier(n_neighbors=3)
classifier = MultiOutputClassifier(knn, n_jobs=-1)
classifier.fit(train_exam, train_target)

MultiOutputClassifier(estimator=KNeighborsClassifier(algorithm='auto',
                                                     leaf_size=30,
                                                     metric='minkowski',
                                                     metric_params=None,
                                                     n_jobs=None, n_neighbors=3,
                                                     p=2, weights='uniform'),
                      n_jobs=-1)

In [25]:
from sklearn.metrics import accuracy_score

In [28]:
com_target=classifier.predict(test_exam)